.find-icons{
    display:flex;
    justify-content: space-between;
}

.find-icons__icon{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.find-icons__icon span{
    margin-top: 15px;
}

.find--new{
    left:65px;
    bottom:20px;
}