.find-icons{
    display:flex;
    justify-content: space-between;
    
}

.find-icons__icon{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.find-icons__icon span{
    margin-top: 15px;
}

.find--new{
    left:65px;
    bottom:20px;
}

.recommended-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding:15px 0px;
    margin:20px 0px;
}

.recommended-friends__title{
    color: var(--grey);
}

.recommended-friends span{
    color: var(--grey);
    display: block;
    text-align: center;
    margin:100px 0px;
}

.open-chat__header{
    display:flex;
    justify-content: space-between;
    color:var(--grey);
    margin-bottom: 20px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 5px;
}

.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 3px;
}

.open-post__members{
    display: flex;
    align-items: center;
}

.open-post__members .divider{
    width:1px;
    height:15px;
    background-color: var(--grey);
}

.open-post__members-status{
    color:magenta;
}

.open-post__members img{
    height:20px;
    width:20px;
    border-radius:50%;
}

.open-post__members-count{
    margin: 0px 5px;
}

.open-post__members-status{
    margin: 0px 5px;
}

.open-post__photo{
    position: relative;
}

.open-post__photo img{
    height:90px;
    width:90px;
    border-radius: 10px;
}

.open-post__likes{
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position:absolute;
    bottom:10px;
    right:5px;
    font-size: 14px;
}
